<main class="mt-5 pt-5">
    <div class="container">

        <!--Section: Atualizar-->
        <section class="mt-4">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-8 mb-4">


                    <!--Card-->
                    
                    <!--/.Card-->

                    <!--Card-->
                    <!--/.Card-->

                    

                    <!--Comments--

                    <!--Reply-->
                    <div class="card mb-3 wow fadeIn">
                        <div class="card-header font-weight-bold">Sobre</div>
                        <div class="card-body">

                            <form method="POST" action="?acao=Admin&metodo=sobre">

                                <div class="form-group">
                                    <label for="replyFormComment">Texto</label>
                                    <textarea class="form-control" id="sobre" name="sobre" rows="5"></textarea>
                                </div>
                                <div class="text-center mt-4">
                                    <button class="btn btn-info btn-md" type="submit">Atualizar</button>
                                </div>
                            </form>
                            <!-- <form>

                       
                                <div class="form-group">
                                    <label for="replyFormComment">Your comment</label>
                                    <textarea class="form-control" id="replyFormComment" rows="5"></textarea>
                                </div>

                              
                                <label for="replyFormName">Your name</label>
                                <input type="email" id="replyFormName" class="form-control">

                                <br>

                       
                                <label for="replyFormEmail">Your e-mail</label>
                                <input type="email" id="replyFormEmail" class="form-control">


                                <div class="text-center mt-4">
                                    <button class="btn btn-info btn-md" type="submit">Atualizar</button>
                                </div>
                            </form>
                            <form>

                         
                                <div class="form-group">
                                    <label for="replyFormComment">Your comment</label>
                                    <textarea class="form-control" id="replyFormComment" rows="5"></textarea>
                                </div>

                             
                                <label for="replyFormName">Your name</label>
                                <input type="email" id="replyFormName" class="form-control">

                                <br>

                           
                                <label for="replyFormEmail">Your e-mail</label>
                                <input type="email" id="replyFormEmail" class="form-control">


                                <div class="text-center mt-4">
                                    <button class="btn btn-info btn-md" type="submit">Atualizar</button>
                                </div>
                            </form> -->
                      


                        </div>
                    </div>
                    <!--/.Reply-->
                    <div class="card mb-3 wow fadeIn">
                        <div class="card-header font-weight-bold">Produto</div>
                        <div class="card-body">

            
                            <form method="POST" action="?acao=Admin&metodo=produtos">
                                <div class="form-group">
                                    <label for="replyFormComment">Descrição</label>
                                    <textarea class="form-control" id="descricao" name="descricao" rows="5"></textarea>
                                </div>

                                <label for="replyFormName">Preço</label>
                                <input id="preco" name="preco" class="form-control">

                                <br>
                       
                                <label for="replyFormEmail">Nome</label>
                                <input  id="nome" name="nome" class="form-control">

                                <div class="text-center mt-4">
                                    <button class="btn btn-info btn-md" type="submit">Atualizar</button>
                                </div>
                            </form>
                            <!-- <form>

                         
                                <div class="form-group">
                                    <label for="replyFormComment">Your comment</label>
                                    <textarea class="form-control" id="replyFormComment" rows="5"></textarea>
                                </div>

                             
                                <label for="replyFormName">Your name</label>
                                <input type="email" id="replyFormName" class="form-control">

                                <br>

                           
                                <label for="replyFormEmail">Your e-mail</label>
                                <input type="email" id="replyFormEmail" class="form-control">


                                <div class="text-center mt-4">
                                    <button class="btn btn-info btn-md" type="submit">Atualizar</button>
                                </div>
                            </form> -->
                      


                        </div>
                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-4 mb-4">

                    <!--Card: Jumbotron-->
                    <!--Card: Jumbotron-->

                    <!--Card : Dynamic content wrapper-->
                    <div class="card mb-4 text-center wow fadeIn">

                        <div class="card-header">Cadastro de usuário</div>

                        <!--Card content-->
                        <div class="card-body">

                            <!-- Default form login -->
                            <form method="POST" action="?acao=Admin&metodo=cadastro">

                                <!-- Default input email -->
                                <label for="defaultFormEmailEx" class="grey-text">Email</label>
                                <input  id="email" name="email" class="form-control">

                                <br>

                                <!-- Default input password -->
                                <label for="defaultFormNameEx" class="grey-text">Senha</label>
                                <input type="text" id="senha" name="senha" class="form-control">

                                <div class="text-center mt-4">
                                    <button class="btn btn-info btn-md" type="submit">Cadastrar</button>
                                </div>
                            </form>
                            <!-- Default form login -->

                        </div>

                    </div>
                    <!--/.Card : Dynamic content wrapper-->
                    <div class="card mb-4 text-center wow fadeIn">

                        <div class="card-header">Dados página inicial</div>

                        <!--Card content-->
                        <div class="card-body">

                            <!-- Default form login -->
                            <form method="POST" action="?acao=Admin&metodo=dados">
                                <label for="defaultFormEmailEx" class="grey-text">Colaboradores</label>
                                <input id="colaboradores" name="colaboradores" class="form-control">

                                <br>
                                <!-- Default input email -->
                                <label for="defaultFormEmailEx" class="grey-text">Marcas</label>
                                <input id="marcas" name="marcas" class="form-control">

                                <br>

                                <!-- Default input password -->
                                <label for="defaultFormNameEx" class="grey-text">Produtos em linha</label>
                                <input type="text" id="produtos" name="produtos" class="form-control">


                                <br>


                                <label for="defaultFormEmailEx" class="grey-text">Anos</label>
                                <input id="anos" name="anos" class="form-control">

                                

                                <div class="text-center mt-4">
                                    <button class="btn btn-info btn-md" type="submit">Atualizar</button>
                                </div>
                            </form>
                            <!-- Default form login -->

                        </div>

                    </div>
                    <!--Card-->
                    
                    <!--/.Card-->

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Atualizar-->

    </div>
</main>
